<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: 300, alt: "profile image", class: 'profile-img' %>
         <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %></h4>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-striped bg-warning"
                  role="progressbar"
                  aria-valuenow="<%= skill.percent_utilized %>"
                  aria-valuemax="100"
                  style="width: <%= skill.percent_utilized %>%"
                ></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-8">
        <p><%= render "introduction" %></p>

        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
            Job
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#experience"
            aria-expanded="false"
            aria-controler="education"
          >
            Experience
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#hobby"
            aria-expanded="false"
            aria-controler="education"
          >
            趣味
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#qualification"
            aria-expanded="false"
            aria-controler="education"
          >
            資格
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              teaching assistant
            </div>
            <div class="card card-block">
              金持ち外国人のひも
            </div>
            <div class="card card-block">
              sakaue inc
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-block">
              寝屋川高校
            </div>
            <div class="card card-block">
              同志社大学 商学部
            </div>
            <div class="card card-block">
              Canadian colleage
            </div>
            <div class="card card-block">
              Tech Camp
            </div>
          </div>

          <div class="collapse" id="experience">
            <div class="card card-block">
              クラスの女子半分に嫌われる(高校)
            </div>
            <div class="card card-block">
              40以上の都道府県を旅行
            </div>
            <div class="card card-block">
               スペイン、中国、サウジアラビア、韓国、フランス人などとルームシェアをして一緒に暮らす
            </div>
          </div>

          <div class="collapse" id="hobby">
            <div class="card card-block">
              将棋(初段)
            </div>
            <div class="card card-block">
               テニス（中学高校部活動）
            </div>
            <div class="card card-block">
               お笑い
            </div>
            <div class="card card-block">
               MBA観戦
            </div>
            <div class="card card-block">
               読書(年間100以上特にロシア文学が好き)
            </div>
          </div>

          <div class="collapse" id="qualification">
            <div class="card card-block">
              TOEIC 890点
            </div>
            <div class="card card-block">
              FITT certificate
            </div>
            <div class="card card-block">
              普通運転免許
            </div>
          </div>



        </p>
      </div>
    </div>
  </div>
</div>

